.blog-item .blog-img img {
  transition: 0.5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
  transform: scale(1.15);
}

@keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}

@keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}

.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}



.section-heading p {
  padding: 0px 60px;
}





.naccs {
  position: relative;
}

.naccs .menu div {
  padding: 15px 30px;
  text-align: center;
  border-radius: 5px !important;
  margin-bottom: 40px;
  font-size: 20px;
  color: #111;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 900;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 3px solid #c02628;
}

.naccs .menu div.active {
  color: #c02628;
  border: 3px solid #c02628;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

ul.nacc {
  margin-left: 100px !important;
  position: relative;
  min-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding-right: 50px;
}

ul.nacc li .left-image {
  position: absolute;
  margin-right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

ul.nacc li .left-image img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

ul.nacc li .left-image .price h6 {
  position: absolute;
  background: rgb(219, 138, 222);
  background: linear-gradient(
    -145deg,
    rgba(219, 138, 222, 1) 0%,
    rgba(246, 191, 159, 1) 100%
  );
  color: #fff;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

ul.nacc li .right-content {
  padding: 40px 0px;
  margin-left: 100px;
}

ul.nacc li .right-content h4 {
  font-size: 20px;
  color: #111;
  margin-bottom: 25px;
  font-weight: 800;
}

 ul.nacc li .right-content ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul.nacc li .right-content span {
  font-size: 14px;
  font-weight: 600;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 2px solid #111;
}

 ul.nacc li .right-content .last-span {
  margin-right: 0px;
  padding-right: 0px;
  border-right: none;
}

ul.nacc li .right-content p {
  margin-bottom: 20px;
}

ul.nacc li .right-content .text-button {
  margin-top: 20px;
}

ul.nacc li.active {
  position: relative;
  transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
}

/*
  ---------------------------------------------
  cta
  ---------------------------------------------
  */

section.simple-cta {
  background-image: url(../images/cta-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 180px 0px 180px 0px;
}

section.simple-cta .left-image {
  margin-right: 45px;
}

section.simple-cta h6 {
  font-size: 17px;
  color: #fff;
}

section.simple-cta h4 {
  font-size: 62px;
  font-weight: 900;
  color: #fff;
  line-height: 74px;
  margin-top: 20px;
}

section.simple-cta p {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 40px;
}

/*** Service ***/
.service-item {
  position: relative;
  width: 250px;
  height: 300px;
  padding: 0 30px;
  transition: 0.5s;
}

.service-name {
  position: relative;
  width: 50% !important;
  height: 150px;
  margin-bottom: 30px;
  transition: 0.5s;
  margin-right: auto;
  margin-left: auto;
}

.text1 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #252525;
  font-size: 24px;
}

.text2 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #777777;
  font-size: 16px;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.service-item .service-icon i {
  transform: rotate(45deg);
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
  color: #111;
}

@media (max-width: 1330px) {
  .our-courses .owl-nav .owl-next {
    right: -30px;
  }
  .our-courses .owl-nav .owl-prev {
    left: -25px;
  }
}

body {
  overflow-x: hidden;
}


@media (max-width: 1200px) {
  .our-courses .owl-nav .owl-next {
    right: -70px;
  }
  .our-courses .owl-nav .owl-prev {
    left: -65px;
  }

  .service-item {
    position: relative;
    width: 400px;
    height: 300px;
    
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
  }

  .service-name {
    
    width: 70% !important;
  }
}

@media (max-width: 1085px) {
  .our-courses .owl-nav .owl-next {
    right: -30px;
  }
  .our-courses .owl-nav .owl-prev {
    left: -25px;
  }
  .service-item {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1005px) {
  .our-courses .owl-nav .owl-next {
    display: none;
  }
  .our-courses .owl-nav .owl-prev {
    display: none;
  }
}

@media (max-width: 992px) {
  section.our-courses ul.nacc {
    margin-left: 0px !important;
  }
  section.our-courses ul.nacc li .right-content span {
    margin-right: 15px;
    padding-right: 15px;
  }

  .service-item {
    position: relative;
    width: 200px;
    height: 200px;
    
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  section.our-courses ul.nacc li .left-image {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    transform: translateY(-0%);
  }
  section.our-courses ul.nacc li .left-image img {
    border-radius: 15px;
  }
  section.our-courses ul.nacc li {
    padding: 0px;
  }
  section.our-courses ul.nacc li .right-content {
    margin-left: 0px;
    padding: 30px;
  }

  .service-item {
    position: relative;
    width: 350px;
    height: 300px;
    
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
  }

  .service-name {
    margin-right: auto;
    margin-left: auto;
    width: 95% !important;
  }
}
