
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link + .card-link {
    margin-left: 1rem;
  }
  
  .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #e3e3e3;
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid #e3e3e3;
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
    .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
    .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
    .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
    .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }

  .stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
  }
  
  .stretch-card > .card {
    width: 100%;
    min-width: 100%;
  }

  
/* Cards */
.card {
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    -moz-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    -ms-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    border: none;
    border: none;
  }
  
  .card.card-rounded {
    border-radius: 15px;
    box-shadow: none;
    border: none;
  }
  
  .card.table-darkBGImg {
    background: #1E283D url("../../images/dashboard/darkBG.png") repeat-y right top;
  }
  
  .card.tale-bg {
    background: #DAE7FF;
  }
  
  .card.transparent {
    background: transparent;
  }
  
  .card .card-body {
    padding: 1.5rem 1.5rem;
  }
  
  .card .card-body + .card-body {
    padding-top: 1rem;
  }
  
  .card .card-title {
    color: #010101;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
    font-size: 1.125rem;
    font-weight: 600;
  }
  
  .card .card-title.card-title-dash {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #1F1F1F;
    margin-bottom: 2px;
  }
  
  .card .card-title.card-title-dash.card-subtitle-dash {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #1F1F1F;
    margin: 0;
  }
  
  .card .card-subtitle {
    font-weight: 400;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  
  .card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f;
  }
  
  .card.card-outline-success {
    border: 1px solid theme-color("success");
  }
  
  .card.card-outline-primary {
    border: 1px solid theme-color("primary");
  }
  
  .card.card-outline-warning {
    border: 1px solid theme-color("warning");
  }
  
  .card.card-outline-danger {
    border: 1px solid theme-color("danger");
  }
  
  .card.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  
  .card.card-circle-progress {
    color: #ffffff;
    text-align: center;
  }
  
  .card.card-img-holder {
    position: relative;
  }
  
  .card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  
  .card.card-weather .weather-daily .weather-day {
    opacity: .5;
    font-weight: 900;
  }
  
  .card.card-weather .weather-daily i {
    font-size: 20px;
  }
  
  .card.card-weather .weather-daily .weather-temp {
    margin-top: .5rem;
    margin-bottom: 0;
    opacity: .5;
    font-size: .75rem;
  }
  
  .card.card-tale {
    background: #7DA0FA;
    color: #ffffff;
  }
  
  .card.card-tale:hover {
    background: #96b2fb;
  }
  
  .card.card-dark-blue {
    background: #4747A1;
    color: #ffffff;
  }
  
  .card.card-dark-blue:hover {
    background: #5050b2;
  }
  
  .card.card-light-blue {
    background: #7978E9;
    color: #ffffff;
  }
  
  .card.card-light-blue:hover {
    background: #8f8eed;
  }
  
  .card.card-light-danger {
    background: #F3797E;
    color: #ffffff;
  }
  
  .card.card-light-danger:hover {
    background: #f59095;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.75rem;
    }
  }
  
  .card-inverse-primary {
    background: rgba(31, 59, 179, 0.2);
    border: 1px solid theme-color-level(primary, 1);
    color: theme-color-level(primary, 3);
  }
  
  .card-inverse-secondary {
    background: rgba(241, 241, 241, 0.2);
    border: 1px solid theme-color-level(secondary, 1);
    color: theme-color-level(secondary, 3);
  }
  
  .card-inverse-success {
    background: rgba(52, 177, 170, 0.2);
    border: 1px solid theme-color-level(success, 1);
    color: theme-color-level(success, 3);
  }
  
  .card-inverse-info {
    background: rgba(82, 205, 255, 0.2);
    border: 1px solid theme-color-level(info, 1);
    color: theme-color-level(info, 3);
  }
  
  .card-inverse-warning {
    background: rgba(255, 175, 0, 0.2);
    border: 1px solid theme-color-level(warning, 1);
    color: theme-color-level(warning, 3);
  }
  
  .card-inverse-danger {
    background: rgba(249, 95, 83, 0.2);
    border: 1px solid theme-color-level(danger, 1);
    color: theme-color-level(danger, 3);
  }
  
  .card-inverse-light {
    background: rgba(251, 251, 251, 0.2);
    border: 1px solid theme-color-level(light, 1);
    color: theme-color-level(light, 3);
  }
  
  .card-inverse-dark {
    background: rgba(30, 40, 61, 0.2);
    border: 1px solid theme-color-level(dark, 1);
    color: theme-color-level(dark, 3);
  }